html {
	background: #6daa76;
}

body {
	background-color: rgb(248, 242, 246);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
	color:#090228;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	line-height: 1.5;
	margin: 0 auto;
	max-width: 800px;
	padding:2em 2em 4em;
}

a:link {color: blue;}
a:hover, a:focus {font-style: italic; color: rgb(208, 132, 32);}

header {
	background: rgb(245, 221, 125);
}
h1{
	color: rgb(10, 10, 80);
}

nav > ul {
     line-height: 2em;
     list-style-type: square;
     padding-left: 20px;
	 color: var(--global-color-1);
}

a {
	color:#1d18b0;
}

section {
     background-color: rgb(251, 206, 221);
}

h2 {
	color: rgba(169, 34, 34, 0.7);

}
footer p {
    background-color: rgb(245, 221, 125);
	text-align: left;

}
:root { --global-color-1: #0b236c;}